p {
    font-size: 50px;
}

.big-red {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
    color: hotpink;
}

#small-red {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    color: lightcoral;
}

/* th, td {
    border-width: 1px;
    border-style: solid;
    border-color: black;

}

table {
    border-collapse: collapse;
    width: 33%;
} */

.coltest1 {
    background-color: hotpink;
}

.coltest2 {
    background-color: lightskyblue;
}